.wrapper {
    width: 100vw;
    height: auto;
    margin: 0 auto;
}

table,th,td {
    border: 1px solid #000;
    border-collapse: collapse;
}
th,td{
    padding: 8px;
}
button {
    margin: 0;
    padding: 5px 10px;
    font-weight: bold;

}

.edit-btn {
    background-color: yellow;
    color: #000;

}

.delete-btn {
    background-color: red;
    color: #fff;
}