* {
  box-sizing: border-box;
  font-family: "Staatliches", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background: #f0e8e;
  display: flex;
  justify-self: center;
  align-items: center;
}

.caculate {
  width: 400px;
  height: auto;
  background: #fff;
  padding: 5px;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.2);
  border: 20px solid gray;
  margin: 0 auto;
}
.caculate-frame {
  width: 100%;
  height: 100px;
  background: #fff;
  border: 3px solid #8a8080;
}

.caculate-board {
  width: 100%;
  display: flex;
  background: rgb(204, 203, 203);
}

.caculate-borad-number {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.caculate-borad-number .caculate-boardiitem {
  width: 25%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2 ease;
  background: grey;
  border: 1px solid #f0f0f0;
}

.caculate-borad-number .caculate-boardiitem:hover {
  background: #f0f0f0;
  border: 1px solid #f0f0f0;
}

.yeloow {
  background-color: rgb(219, 219, 5) !important;
  color: white;
}
